.App {
  text-align: center;
}

.card img {
  height: 300px;
}

.card{
 
  margin-bottom: 20px;
  background-color:blanchedalmond;
}

.rocket-info{
  margin: 20px 0;
  text-align: center
}

body{
  background-color: rgb(33, 38, 60);
}

.container-fluid{
  padding: 20px;
  background-color: rgb(33, 38, 60);
}

.navbar-brand{
  color: bisque
}

.Headline{
  text-align: center;
  margin-top: 140px ;
  margin-bottom: 40px;
  color: bisque;
  font-family: 'Courier New', Courier, monospace;
}